*.*~
*~
*.pyc
#*#
/db.sqlite3
sqlite.db
/plan.txt
*.egg-info*
build*
/.coverage
/.coveragerc
/coverage_html_report/
/uploads/
.tox
*.egg
fastandquizy/production.py
venv/
node_modules/
package-lock.json
migrations/
__pycache__/
.pytest_cache/
debug.log
geckodriver.log
staticfiles/