*.*~
*~
*.pyc
#*#
/db.sqlite3
sqlite.db
/mysite*
/plan.txt
/dist*
*.egg-info*
build*
/.coverage
/.coveragerc
/coverage_html_report/
/htmlcov/
/uploads/
.tox
*.egg
fastandquizy/settings.py
venv/
_admin.py
_forms.py
_models.py