{% extends "core/base.html" %}
{% load static %}

{% block title %}Mon profil{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'profiles/profile.css' %}">
{% endblock %}

{% block content %}
<div class="flex min-h-screen">
	<div class="container mx-auto flex-grow bg-gray-200 px-8">
	<h1 class="text-gray-700 py-4">Bienvenue sur votre profil {{ user.username }}</h1>

	<p class="text-gray-700">Vous pourrez retrouver ici toutes informations concernant votre profil telles que les quis auxquels vous avez participés ainsi que ceux que vous avez créées.</p>
	<div class="py-8">
		<a href="{% url 'create' %}">
			<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Créer un quiz</button>
		</a>
	</div>
	<div class="flex">
		<a href="" class="quizzes w-1/2 text-center text-gray-700 font-bold" id="finished">Quiz finis</a>
		<a href="" class="quizzes w-1/2 text-center text-gray-700 font-bold" id="created">Quiz crées</a>
	</div>
	<div class="flex content-start flex-wrap pb-16 my-8" id="quiz-finished">
		{% if quiz_participated|length %}
		{% for quiz in quiz_participated %}
		<div class="lg:w-1/3 w-full p-2">
			<div class="{{ quiz.category_name }} p-2 h-40 rounded-lg" id="toto">
				<a href="{% url 'take' url=quiz.url %}">
					<div class="text-gray-700 text-center truncate" id="{{ quiz.url }}">
						{{ quiz.title }}
					</div>
					<div class="flex h-24 justify-center items-end mt-4">
						{% if quiz.difficulty == 1 %}
						<img src="{% static "quiz/img/etoile.png" %}" alt="etoile" class="px-1">
						{% elif quiz.difficulty == 2 %}
						<img src="{% static "quiz/img/etoile.png" %}" alt="etoile" class="px-1">
						<img src="{% static "quiz/img/etoile.png" %}" alt="etoile" class="px-1">
						{% else %}
						<img src="{% static "quiz/img/etoile.png" %}" alt="etoile" class="px-1">
						<img src="{% static "quiz/img/etoile.png" %}" alt="etoile" class="px-1">
						<img src="{% static "quiz/img/etoile.png" %}" alt="etoile" class="px-1">
						{% endif %}
					</div>
				</a>
			</div>
		</div>
		{% endfor %}
		{% else %}
		<p class="py-4 italic text-gray-700" id="no_quiz_finished">Vous n'avez pas encore complété de quiz</p>
		{% endif %}
	</div>
	<div class="flex content-start flex-wrap pb-16 my-8" id="quiz-created">
		{% if quiz_created|length %}
		{% for quiz in quiz_created %}
		<div class="lg:w-1/3 w-full p-2">
			<div class="{{ quiz.category_name }} p-2 h-40 rounded-lg">
				<a href="{% url 'statistics' url=quiz.url%}">
					<div class="text-gray-700 text-center truncate" id="{{ quiz.url }}">
						{{ quiz.title }}
					</div>
					<div class="flex h-24 justify-center items-end mt-4">
						{% if quiz.difficulty == 1 %}
						<img src="{% static "quiz/img/etoile.png" %}" alt="etoile" class="px-1">
						{% elif quiz.difficulty == 2 %}
						<img src="{% static "quiz/img/etoile.png" %}" alt="etoile" class="px-1">
						<img src="{% static "quiz/img/etoile.png" %}" alt="etoile" class="px-1">
						{% else %}
						<img src="{% static "quiz/img/etoile.png" %}" alt="etoile" class="px-1">
						<img src="{% static "quiz/img/etoile.png" %}" alt="etoile" class="px-1">
						<img src="{% static "quiz/img/etoile.png" %}" alt="etoile" class="px-1">
						{% endif %}
					</div>
				</a>
			</div>
		</div>
		{% endfor %}
		{% else %}
		<p class="py-4 italic text-gray-700" id="no_quiz_created">Vous n'avez pas encore crée de quiz</p>
		{% endif %}
	</div>
</div>
</div>
<script>
$("#quiz-created").hide();
$("#finished").css("background-color", "#E8BBA9");

$('.quizzes').click( function(e) {
	e.preventDefault();
	if (this.id == 'finished') {
		$("#quiz-created").hide();
		$("#created").css("background-color", "transparent");
		$("#quiz-finished").fadeIn();
		$("#finished").css("background-color", "#E8BBA9")
	} else if (this.id == 'created') {
		$("#quiz-finished").hide();
		$("#finished").css("background-color", "transparent")
		$("#quiz-created").fadeIn();
		$("#created").css("background-color", "#8CD894");
	}
	return false; } );
</script>

{% endblock %}

{% block footer %}
{% include 'core/footer.html' %}
{% endblock %}