<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<h1>Créer quiz</h1>
<br>
<br>
<form method="POST" id="quiz-form">
    {% csrf_token %}
    <div class="quiz-form" id="quizForm">
      {{ quiz_form.as_p }}
    <br>
    <hr>
    <br>
    </div>
    <div class="tf-form" id="base-tf-form">
      {{ tf_form.as_p }}
    <br>
    <hr>
    <br>
    </div>
    <div id="forms">
    </div>
      <input type="submit" value="J'ai fini !" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
</form>
  <button class="add-tf-form bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" id="add-tf">Ajouter TF</button>


<script>
$("#id_tf-0-order").val(1);
total_tf = 1;

// Add a TrueFalse Question Form
$(document).on('click', '#add-tf', function(e){
  e.preventDefault();
  var form = $("#base-tf-form");

  cloneTF(form);
  return false;
});

function cloneTF(selector) {
  // get the current total number of tf questions
  total_tf = $('#id_tf-TOTAL_FORMS').val();

  // clone the selected part of the form
  var newElement = $(selector).clone(true);
  // change its name and id
  newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
      var name = $(this).attr('name').replace('-' + (total_tf-1) + '-', '-' + total_tf + '-');
      var id = 'id_' + name;
      $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
  // remove its id (useful later):
  //$('#base-tf-form').removeAttr('id');
  // Update the number of tf questions in the labels
  newElement.find('label').each(function() {
    var forValue = $(this).attr('for');
    if (forValue) {
      forValue = forValue.replace('-' + (total_tf-1) + '-', '-' + total_tf + '-');
      $(this).attr({'for': forValue});
      }
  });
  total_tf++;
  // change the id value of the new tf question
  $('#id_tf-TOTAL_FORMS').val(total_tf);
  //place it in the div intended for it
  $('#forms').append(newElement);
  
  return false;  
}
</script>