{% extends "core/base.html" %}
{% load static %}

{% block title%}Créer un quiz{% endblock %}

{% block content %}
<form method="post">
	<div id="quiz">
		<p>
		  	<label class="block text-gray-700 text-sm font-bold mb-2"> {{ quiz_form.title.label }}</label>
		  	<div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"> {{ quiz_form.title}}</div>
		</p>
		<p>
			{{ quiz_form.description.label }}
			{{ quiz_form.description }}
		</p>
		<p>
			{{ quiz_form.category.label }}
			{{quiz_form.category }}
		</p>
		<p>
			{{ quiz_form.sub_category.label }}
			{{quiz_form.sub_category }}
		</p>
	</div>
	<br>
	<hr>
	<br>
	<div id="tf">
	{% for tf in tf_form %}
		<p>
			{{ tf.content.label }}
			{{ tf.content }}
		</p>
		<p>
			{{ tf.difficulty.label }}
			{{ tf.difficulty }}
		</p>
		
		<p>
			{{ tf.theme1.label }}
			{{ tf.theme1 }}
		</p>
		<p>
			{{ tf.theme2.label }}
			{{ tf.theme2 }}
		</p>
		<p>
			{{ tf.theme3.label }}
			{{ tf.theme3 }}
		</p>
		<p>
			{{ tf.correct.label }}
			{{ tf.correct }}
		</p>
	</div>
	{% endfor %}
	<br>
	<hr>
	<br>
	{% for mc in mc_form %}
		<p>
			{{ mc.content.label }}
			{{ mc.content }}
		</p>
		<p>
			{{ mc.difficulty.label }}
			{{ mc.difficulty }}
		</p>
		<p>
			{{ mc.theme1.label }}
			{{ mc.theme1 }}
		</p>
		<p>
			{{ mc.theme2.label }}
			{{ mc.theme2 }}
		</p>
		<p>
			{{ mc.theme3.label }}
			{{ mc.theme3 }}
		</p>
		<p>
			{{ mc.answer1.label }}
			{{ mc.answer1 }}
		</p>
		<p>
			{{ mc.answer1_correct.label }}
			{{ mc.answer1_correct }}
		</p>
		<p>
			{{ mc.answer2.label }}
			{{ mc.answer2 }}
		</p>
		<p>
			{{ mc.answer2_correct.label }}
			{{ mc.answer2_correct }}
		</p>
		<p>
			{{ mc.answer3.label }}
			{{ mc.answer3 }}
		</p>
		<p>
			{{ mc.answer3_correct.label }}
			{{ mc.answer3_correct }}
		</p>
	{% endfor %}
	

<input type="submit" value="Créer">
</form>



{% endblock %}