{% extends 'core/base.html' %}
{% load static %}

{% block title %}Liste des quiz{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'quiz/quiz_list.css' %}">
{% endblock %}

{% block content %}
<div class="flex min-h-screen">
	<div class="container mx-auto flex-grow bg-gray-200 px-8">
		<h1 class="pb-4 pt-8 text-2xl text-gray-700 font-bold">Liste des quiz créés du plus récent au plus ancien :</h1>
		<button class="text-blue-400 py-4" id="show-categories">Sélectionner un quiz selon sa catégorie</button>
		<div class="py-4" id="categories">
			{% for cat in categories %}
			<a href="{% url 'quiz_category_list_matching' category_name=cat.category %}" id="{{ cat.category }}">
				<button class="{{ cat.category }} rounded py-1 px-1">{{ cat.category }}</button>
			</a>
			{% endfor %}
		</div>
		<div class="flex content-start flex-wrap pb-16">
			{% if quiz_list|length %}
				{% for quiz in quiz_list %}
				<div class="lg:w-1/3 w-full p-2">
					<div class="{{ quiz.category_name }} p-2 h-40 rounded-lg">
						<a href="{% url 'take-quiz' url=quiz.url%}" id="{{ quiz.url }}">
							<div class="text-gray-700 text-center truncate">
								{{ quiz.title }}
							</div>
							<div class="flex h-24 justify-center items-end mt-4">
								{% if quiz.difficulty == 1 %}
								<img src="{% static "quiz/img/etoile.png" %}" alt="etoile" class="px-1">
								{% elif quiz.difficulty == 2 %}
								<img src="{% static "quiz/img/etoile.png" %}" alt="etoile" class="px-1">
								<img src="{% static "quiz/img/etoile.png" %}" alt="etoile" class="px-1">
								{% else %}
								<img src="{% static "quiz/img/etoile.png" %}" alt="etoile" class="px-1">
								<img src="{% static "quiz/img/etoile.png" %}" alt="etoile" class="px-1">
								<img src="{% static "quiz/img/etoile.png" %}" alt="etoile" class="px-1">
								{% endif %}
							</div>
						</a>
					</div>
				</div>
				{% endfor %}
			{% else %}
				<p class="italic py-8 text-gray-700">Aucun quiz n'a été crée pour l'instant</p>
			{% endif %}
		</div>
	</div>
</div>
<script>
$("#categories").hide();
$("#show-categories").click( function() {
	$("#categories").fadeIn();
});

</script>
{% endblock %}

{% block footer %}
{% include 'core/footer.html' %}
{% endblock %}