{% extends 'core/base.html' %}

{% load static %}

{% block title %}Statistiques{% endblock %}
{% block css %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
	<link rel="stylesheet" href="{% static 'quiz/statistics.css' %}">
{% endblock %}

{% block content %}
<div class="flex min-h-screen">
	<div class="container mx-auto text-gray-700">
		{% if message is not None %}
			<p class="px-4 py-8 italic" id="message">{{ message }}</p>
		{% else %}
			<div class="text-xl text-bold text-gray-700">
				<p class="py-8">Statistiques du quiz : {{ title }}</p>
				<p>Nombre de participants : {{ stats.nb_participants }}</p>
				<p>Moyenne des participants : {{ stats.mean }}</p>
			</div>

			<div class="w-1/2 py-8">
				<canvas id="grades"></canvas>
			</div>
			<div class="w-1/2 py-8">
				<canvas id="questions"></canvas>
			</div>
			<div class="w-2/3 py-8">
				<canvas id="themes"></canvas>
			</div>
			<div class="w-1/2 py-8">
				<canvas id="difficulty"></canvas>
			</div>		

		{% endif %}
	</div>
	</div>
</div>

<script>
$(document).ready(function () {
	var dynamicColors = function() {
		var randomColor = Math.floor(Math.random()*16777215).toString(16);
        return "#" + randomColor;
    };

	var diff = document.getElementById("difficulty");
	var diffChart = new Chart(diff, {
		type: "bar",
		data: {
			labels: ['facile', 'moyen', 'difficile'],
			datasets: [{
				label: "score selon la difficulté",
				data: {{ stats.difficulty }},
				backgroundColor: [
				"#34CD34", "#F7C23B", "#FF6347"
				]
			}]
		},
		options: {
			responsive: true,
			scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        suggestedMax: 100,
                        maxTicksLimit: 20
                    },
                    gridLines: {
                    	color: "rgba(0,0,0,0)"
                    }
                }],
                xAxes: {
                	gridLines: {
                		color: "rgba(0,0,0,0)"
                	}
                }
            }
		}
	});


	var g_color = [];
	for (i=0; i < {{ g_data|length }}; i++) {
		g_color.push(dynamicColors());
	}

	var grades = document.getElementById("grades");
	var gradesChart = new Chart(grades, {
		type: "bar",
		data: {
			labels: {{ g_label|safe }},
			datasets: [{
				label: "Notes des participants",
				data: {{ g_data|safe }},
				backgroundColor: g_color
			}]
		},
		options: {
			responsive: true,
			scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        suggestedMax: 100,
                        maxTicksLimit: 20
                    },
                    gridLines: {
                    	color: "rgba(0,0,0,0)"
                    }
                }],
                xAxes: {
                	gridLines: {
                		color: "rgba(0,0,0,0)"
                	}
                }
            }
		}
	});


	q_color = [];
	for (i=0; i < {{ q_data|length }}; i++) {
		q_color.push(dynamicColors());
	}
	var questions = document.getElementById("questions");
	var questionsChart = new Chart(questions, {
		type: "bar",
		data: {
			labels: {{ q_label|safe }},
			datasets: [{
				label: "Résultats aux questions",
				data: {{ q_data|safe }},
				backgroundColor: q_color
			}]
		},
		options: {
			responsive: true,
			scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        suggestedMax: 100,
                        maxTicksLimit: 20
                    },
                    gridLines: {
                    	color: "rgba(0,0,0,0)"
                    }
                }],
                xAxes: {
                	gridLines: {
                		color: "rgba(0,0,0,0)"
                	}
                }
            }
		}
	});


	t_color = [];
	for (i=0; i < {{ t_data|length }}; i++) {
		t_color.push(dynamicColors());
	}
	var themes = document.getElementById("themes");
	var themeChart = new Chart(themes, {
		type: "pie",
		data: {
			labels: {{ t_label|safe }},
			datasets: [{
				label: "Résultats aux thèmes",
				data: {{ t_data|safe }},
				backgroundColor: t_color,
			}]
		},
		options: {
			responsive: true,
		}
	})


});
</script>
{% endblock %}

{% block footer %}
	{% include 'core/footer.html' %}
{% endblock %}