{% extends "core/base.html" %}
{% load static %}
{% block title %}Titre du quiz{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<form method="POST">
	{% csrf_token %}
	{% for form in forms %}
		<p>{{ form.1 }}</p> <!--- question's content -->
		{% if form.0 == 'tf' %}
			{{ form.2.as_p }} <!-- TF form -->
		{% else %}
			<p>
				<p><label>{{ form.2 }}</label></p>
				<div>{{ form.5.answer1_correct }}</div>
				<p><label>{{ form.3 }}</label></p>
				<div>{{ form.5.answer2_correct }}</div>
				<p><label>{{ form.4 }}</label></p>
				<div>{{ form.5.answer3_correct }}</div>
			</p>
		{% endif %}
	{% endfor %}
	<input type="submit" value="Envoyer">
</form>
{% endblock %}