{% extends "core/base.html" %}
{% load static %}

{% block title %}Tutorial{% endblock %}


{% block content %}
<div class="flex min-h-screen">
	<div class="container mx-auto bg-gray-200 text-gray-700">
		<div class="px-4">
			<h1 class="font-bold text-xl py-8">Comment créer un quiz</h1>
			<h3>Dans ce tutoriel, nous allons voir comment créer un quiz simplement sur Fast & Quizzy</h3>
			<p class="py-2">
				Le premier formulaire à remplir concerne le quiz en lui-même. Il faut tout d'abord y indiquer un titre, une courte description et décider d'afficher ou non les questions dans l'ordre de création.
			</p>
			<p class="py-2">
				Ensuite, vous pourrez choisir entre ajouter deux types de question. Les questions Vrai/Faux, dont la réponse est soit Vrai soit Faux, et les Questions à Choix Multiples. Ces dernières ont trois propositions, et c'est à vous de décider lesquelles sont correctes (entre une et trois).
			</p>

			<p class="py-2">
				Ces deux types de question ont de nombreux champs en commun que nous allons maintenant détailler.
				Vous allez devoir commencer par choisir dans quelle catégorie votre costume appartient (Sciences, Français, Histoire-Géographie, Langues, Autre), et une sous-Catégorie (Mathématiques, Espagnol, Histoire, etc).
			</p>
			<p class="py-2">
				Ensuite, vous allez devoir taper la question que vous souhaitez poser.
				Puis, décider de la difficulté de la question posée, et des thèmes abordés par cette question. Ces thèmes, jusqu'au nombre de trois, permettront d'affiner les conseils prodigués en fin de quiz. Par exemple, un quiz dans la catégorie Sciences, sous-catégorie Mathématiques, peut poser des questions de cours, des exercices pratiques, ou encore aborder des thèmes tels que la géométrie ou l'algèbre.
			</p>
			<div class="flex py-8 justify-center items-center">
				<a href="{% url 'create' %}">
					<button class="bg-green-400 hover:bg-green-500 text-gray-800 font-bold py-4 rounded px-8" id="create-quiz">Créer un quiz</button>
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block footer %}
{% include "core/footer.html" %}
{% endblock %}