 <head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<body>
<form method="POST" id="quiz-form" data-subcategories-url="{% url 'ajax_load_subcategories' %}">
    {% csrf_token %}
    {{ quiz.as_p }}
    <input type="submit" value="fini">
</form>

<script>
$("#id_category").change(function() {
  var url = $("#quiz-form").attr('data-subcategories-url');
  var categoryId = $(this).val();

  $.ajax({
    url: url,
    data: {
      'category': categoryId
    },
    success: function (data) {
      $('#id_sub_category').html(data);
      alert(data);
    }
  });
});
</script>
</body>