.Sciences {
	background-color: #E8BBA9;
}

.Histoire-Geographie {
	background-color: #8CD894;
}

.Langues {
	background-color: #d88cd0;
}

.Francais {
	background-color: #738BCE;
}

.Autres {
	background-color: #BCBCBB;
}