.Sciences {
	background-color: #E8BBA9;
}

.Histoire-Geographie {
	background-color: #8CD894;
}

.Langues {
	background-color: #d88cd0;
}

.Francais {
	background-color: #738BCE;
}

.Autres {
	background-color: #BCBCBB;
}

#finished {
	border-bottom-width: 4px;
	border-color: #E8BBA9;
}

#finished:hover {
	background-color: #E8BBA9;
}

#created {
	border-bottom-width: 4px;
	border-color: #8CD894;
}

#created:hover {
	background-color: #8CD894;
}