<!DOCTYPE html>
{% load static %}

<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% block head %}
        <title>Fast And Quizzy</title>
    {% endblock %}
</head>

<body>
  <span>Quiz :</span>
  <form method="POST" data-subcategories-url="{% url 'ajax_load_subcategories' %}" novalidate>
    {% csrf_token %}
    <div class="title-form" id="titleForm">
      {{ title_form.as_p }}
    <br>
    <hr>
    <br>
    </div>
    <div class="tf-form" id="tf-form">
      {{ tf_form.as_p }}
    <br>
    <hr>
    <br>
    </div>
    <div class="mc-form" id="mc-form">
      {{ mc_form.as_p}}
      <br>
      <hr>
      <br>
    </div>
      <input type="submit" value="J'ai fini !" class="create-quiz">
    </div>
  </form>
  <button class="add-tf-form">Ajouter TF</button>
  <button class="add-mc-form">Ajouter MC</button>

<script src="{% static 'js/create.js' %}"> </script>
<!-- <script src="{% static 'js/dropdown_list.js' %}"> </script>-->
<script>
// set the starting value of the hidden inputs to 0
var order = 0;
$("input[name='tf-0-order']").val(order);
$("input[name='mc-0-order']").val(order);


// Prevent submit to update the values of max forms
$('form').one('submit', function(e) {
  e.preventDefault()
  // For tf forms
  $("input[name='tf-TOTAL_FORMS']").each(function() {
      this.value = total_tf
  });

  // For mc forms
  $("input[name='mc-TOTAL_FORMS']").each(function() {
      this.value = total_mc
  });

  $(this).submit()
});

</script>
</body>

</html>