.first {
	background-image: url("img/background.jpg");
	background-color: #1A174C;
	width: 100%;
	height: 100%;
}

#begin {
	border: 2px;
}

#begin:hover {
	color: #1A174C;
}

.button {
	display: flex;
  	justify-content: center;
}

.button:hover {
	color: #1A174C;
}

.explanations {
	background-color: #E8BBA9;
}

.difficulty {
	display:flex;
	align-items: flex-end;
}